.add-order-header {
    background-color: #17a2b8 !important;
    color: white;
}

.add-order-btn {
    background-color: #17a2b8 !important;
    color: white;
}

.add-order-btn:hover {
    border: 1px solid #17a2b8 !important;
    color: white;
    font-weight: bold;
    transform: scale(1.05);
    transition: transform 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.add-order-image-box {
    width: 100px;
    height: 100px;
    border: 2px dashed #17a2b8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    background-color: #f8f9fa;
    position: relative;
}

.add-order-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.add-order-image-plus-icon {
    font-size: 30px;
    color: #17a2b8;
}

input[type="file"] {
    display: none;
}

body {
    background-color: #f8f9fa;
}

.top-bar {
    margin-bottom: 20px;
}

.table_header th {
    background-color: #17a2b8;
    color: white;
}

.order-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
}